:root {
  font-size: 62.5%;

  --size-border: 0.4rem;
  --width-exit: 10.5%;
  --color-border: hsl(117, 26%, 15%);
  --color-game-menu: hsl(204, 26%, 61%);
  --color-game-menu-bg: hsl(203, 31%, 25%);
  --color-selection: hsl(203, 36%, 68%);
  --gradient-life: linear-gradient(90deg, #ff0000, #ffff00, #00ff00);

  --lifebar-width: 100%;
  --lifebar-transition-duration: 1000ms;
}

.grid {
  display: grid;
}

h2 {
  font: 700 3rem monospace;
}

#game-vp {
  max-width: 100vw;
  max-height: 100vh;

  width: 96rem;
  height: 64rem;

  grid-template:
    "p2-hp" calc(3 * var(--size-border))
    "scene" 2fr
    "p1-hp" calc(3 * var(--size-border))
    "menu" 1fr
    / 1fr;

  position: relative;
}

#player1-hp,
#player2-hp {
  border: var(--size-border) solid var(--color-border);

  background: var(--gradient-life);

  position: relative;
}

#player1-hp::after,
#player2-hp::after {
  content: " ";

  width: calc(100% - var(--lifebar-width));
  height: 100%;

  background: var(--color-border);

  position: absolute;
  right: 0;
  z-index: 10;

  transition: width var(--lifebar-transition-duration) ease-in-out;
}

#player1-hp {
  grid-area: p1-hp;
}

#player2-hp {
  grid-area: p2-hp;
}

#game-scene {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;

  grid-area: scene;

  position: relative;
}

#game-menu-1,
#game-menu-2 {
  grid-area: menu;
}

#game-menu-1.hide,
#game-menu-2.hide {
  display: none;
}

#game-menu-1 {
  background: var(--color-game-menu-bg);

  grid-template: "message . fight . bag" 1fr / 2fr 0.4rem 1fr 0.4rem 1fr;
}

#game-menu-2 {
  width: 100%;

  grid-template:
    "move-1 . move-2" 1fr
    / 1fr 0.4rem 1fr;

  background: hsla(0, 0%, 0%, 0.685);

  position: relative;
}

#game-menu-2::before {
  content: "";

  width: calc(100% - var(--width-exit));
  height: 100%;

  position: absolute;
  bottom: 0;
}

#exit-menu {
  opacity: 0;
}

#exit-menu.show-menu {
  width: 100%;
  height: 100%;

  opacity: 0.4;
  background: var(--color-game-menu-bg);
  transition: opacity 3s cubic-bezier(0.3, 0, 0, 1);

  grid-area: exit;
}

#exit-menu.show-menu:hover {
  opacity: 0.4;
  background: yellowgreen;

  transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1),
    background 0.5s cubic-bezier(0.3, 0, 0, 1);
}

#move-1.disabled,
#move-2.disabled,
#move-1.disabled:hover,
#move-2.disabled:hover {
  background: lightslategray;
}

#message,
#fight-btn,
#bag-btn,
#move-1,
#move-2,
#info {
  background: var(--color-game-menu);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 500ms ease-in-out;
}

#fight-btn:hover,
#bag-btn:hover,
#move-1:hover,
#move-2:hover {
  background: var(--color-selection);
}

#message {
  grid-area: message;
}

#fight-btn {
  grid-area: fight;
}

#bag-btn {
  grid-area: bag;
}

#move-1 {
  grid-area: move-1;
}

#move-2 {
  grid-area: move-2;
}

#info {
  grid-area: info;
}

.players {
  width: 16rem;
  height: 16rem;

  image-rendering: pixelated;

  position: relative;
}

#player-1,
#player-2 {
  position: absolute;
}

#player-1 {
  bottom: 0%;
  left: 18%;
}

#player-1::after {
  content: "";
  background-image: url(../images/bulbasaur-back.png);
}

#player-2 {
  top: 20%;
  right: 18%;
}

#player-2::after {
  content: "";
  background-image: url(../images/squirtle-front.png);
}

#player-1::after,
#player-2::after {
  content: "";
  width: 100%;
  height: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  position: absolute;
}

/* DOUBLE BORDERS */
.borders {
  border: var(--size-border) solid var(--color-border);

  position: relative;
}

.borders::after {
  content: " ";

  border-top: var(--size-border) solid lightgray;
  border-bottom: var(--size-border) solid rgb(81, 97, 118);
  border-left: var(--size-border) solid lightsteelblue;
  border-right: var(--size-border) solid slategray;

  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
